@font-face {
  font-family: yourfont;
  src: url(https://www.rejouice.com/static/fonts/SuisseIntl-Light.woff2);
}
@font-face {
  font-family: yourfont2;
  src: url(https://www.rejouice.com/static/fonts/SuisseIntl-Regular.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

title {
  font-family: Suisse intl;
}

html, body {
  height: 100%;
  width: 100%;
}

.main {
  position: relative;
  z-index: 10;
  overflow-x: hidden;
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  background-color: black;
  top: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.loader h3 {
  font-family: yourfont;
  font-size: 2vw;
}

.page1 {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: white;
}
.page1 .cursor {
  height: 6vw;
  width: 6vw;
  background-color: #ff5f38;
  border-radius: 50%;
  position: absolute;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.page1 video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
.page1 .page1-content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.161);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page1 .page1-content nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 2vw;
}
.page1 .page1-content nav h4 {
  font-size: 1.2vw;
  font-family: Suisse intl;
}
.page1 .page1-content nav h3 {
  font-size: 1.2vw;
  font-family: Suisse intl;
}
.page1 .page1-content h1 {
  font-family: Granat Medium;
  font-size: 27vw;
  font-weight: 100;
  line-height: 30vw;
  letter-spacing: -23px;
  pointer-events: none;
}
.page1 .page1-content h1 span {
  display: inline-block;
}

.page2 {
  width: 100%;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
}
.page2 .elem1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
}
.page2 .elem1 h3, .page2 .elem1 h4 {
  font-weight: 550;
  font-size: 20px;
  font-family: Suisse intl;
}
.page2 hr {
  margin: 20px 0;
}
.page2 .elem2 {
  width: 100vw;
  height: 100vh;
}
.page2 .elem2 .first {
  padding-left: 90px;
}
.page2 .elem2 h1 {
  font-size: 4.2vw;
  font-weight: 100;
  font-family: Suisse intl;
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  overflow: hidden;
}

.page3 {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
}
.page3 .top {
  text-align: center;
}
.page3 .top h4 {
  margin-bottom: 1vw;
  font-size: 1vw;
  font-weight: 100;
}
.page3 .top h4 span {
  background-color: black;
  color: white;
  padding: 3px 10px;
  border-radius: 10px;
}
.page3 .top h2 {
  font-size: 4vw;
  font-weight: 200;
}
.page3 .bottom {
  height: 75vh;
  width: 100%;
  margin-top: 8vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page3 .bottom .box {
  height: 100%;
  width: 32%;
  position: relative;
}
.page3 .bottom .box video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.page3 .bottom .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  transition: all linear 0.8s;
}
.page3 .bottom .box:hover img {
  opacity: 0;
}

.page4 {
  height: 100vh;
  width: 100%;
  padding: 7vw 0;
  background-color: white;
}
.page4 .top h1 {
  font-family: Suisse intl;
  font-size: 7vw;
  border-bottom: 2px solid black;
  width: 96%;
  margin: 0 4%;
}
.page4 .slider {
  width: 100%;
  height: 70vh;
  margin-top: 3vw;
  display: flex;
  --gap: 40px;
  overflow: hidden;
  gap: var(--gap);
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.page4 .slider .slider-track {
  display: flex;
  gap: var(--gap);
  animation: scroll 15s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.page4 .slider .slider-track:hover {
  animation-play-state: paused;
  cursor: pointer;
}
.page4 .slider .box {
  width: 30vw;
  height: 100%;
  flex-shrink: 0;
  background-color: #452929;
}
.page4 .slider .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.page4 .slider .box.first {
  height: 50vh;
  display: flex;
  background: black;
  color: white;
}
.page4 .slider .box.first .text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 3vw 2vw;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
  gap: 0.3vw;
}
.page4 .slider .box.first .text h5 {
  font-family: yourfont;
  font-weight: 100;
}
.page4 .slider .box.first .text h5 span {
  opacity: 0.8;
}
.page4 .slider .box.second {
  height: 50vh;
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
  color: white;
}
.page4 .slider .box.second .text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 3vw 2vw;
  width: 100%;
  height: 100%;
  color: rgb(0, 0, 0);
  font-size: 1.8rem;
  font-weight: 100;
  gap: 0.3vw;
}
.page4 .slider .box.second .text h5 {
  font-family: yourfont;
  font-weight: 500;
}
.page4 .slider .box.second .text h5 span {
  opacity: 0.8;
}
.page4 .slider .box.second .loader {
  font-size: 60px;
  display: flex;
  padding: 0 2vw;
  color: #bbb;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.page5 {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  padding: 18vw 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vw;
}
.page5 h2 {
  font-family: Suisse intl;
  font-size: 4vw;
  font-weight: 100;
  font-style: normal;
  padding-bottom: 6vw;
}
.page5 hr {
  margin: 2vw 0;
}
.page5 .text {
  width: 65%;
  height: 100%;
  display: flex;
  gap: 25vw;
}
.page5 .text p {
  font-size: 20px;
  font-family: yourfont;
  font-weight: 100;
}
.page5 .text .txt1 {
  width: 99%;
}
.page5 .text .text2 {
  width: 1%;
}
.page5 .box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 70vh;
  background-color: #452929;
}
.page5 .box video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transform-origin: center;
}

.page6 {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.page6 h2 {
  font-family: yourfont;
  font-size: 4vw;
  font-weight: 100;
}
.page6 .line {
  width: 30%;
  height: 2px;
  background-color: black;
}

.page7 {
  width: 100%;
  height: 100vh;
}

.footer {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: fixed;
  z-index: 9;
  bottom: 0;
  display: flex;
  align-items: flex-end;
}
.footer h1 {
  font-family: Granat Medium;
  font-size: 27vw;
  font-weight: 100;
  line-height: 30vw;
  letter-spacing: -23px;
  color: white;
}
.footer h1 span {
  display: inline-block;
}/*# sourceMappingURL=style.css.map */